.bibliography {
  font-size: smaller;
}
.bibliography img {
  width: 100px;
}
.bibliography .note {
  color: gray;
  vertical-align: super;
  font-size: 0.6em;
}
.bibliography dt {
  word-break: break-word;
  font-weight: bold;
}
