.bibliography {
  font-size: smaller;
}
.bibliography img {
  width: 100px;
}
.bibliography dt {
  font-weight: bold;
}
/* documenting links */
.bibliography .link {
  color: gray;
  vertical-align: super;
  font-size: 0.6em;
}
.bibliography .link:before {
  content: "[";
}
.bibliography .link:after {
  content: "]";
}
